@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    margin: 0%;
    background-color:aliceblue;
    width:90%;
}
nav.nav{
    position:fixed;
    z-index:3;
    padding: 0% 5%;
    height:50px;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    position:fixed;
    overflow: hidden;
    transition: 1s;
}
/*au cas du scroll*/
nav.color{
    background-color:white;
    box-shadow: 1px 1px 15px black;
    opacity: 75%;
}
h1{
    font-family: 'Cinzel', serif;
    font-size:250%;
}
.nav ul{
    width: 550px;
    height: 1cm;
    font-family:serif;
    display: flex;
    align-items: center;
    margin-right: 8%;
}
li{
    display:inline-flex;
    padding: 0% 5%;
}
li:hover a,a.pos{
    color:black
}
.nav a{
    color: white;
    font-size:20px;
    text-decoration: none;
}
div.abtus{
    background-color: white;
    position:absolute;
    bottom:-25%;
    margin: 0% 10%;
    padding:1% 5%;
}
.abtus strong,div.abtus p,.det strong{
    color:black;
    font-family:'Cinzel', serif;
    text-align:center;
    width:100%;
    font-size:20px;
    margin-left: 5px;
}
.head{
    background-attachment:fixed;
    position: relative;
    font-family: 'Caveat', cursive;
    height:650px;
    width: 111.25%;
    background-color: white; 
    background-position: top; 
    background-repeat: no-repeat; 
    background-size: cover; 
    animation: fondu 40s ease-in-out infinite both;
}

@keyframes fondu {0%{background-image: url(../images/share1)} 8%{background-image: url(../images/share2.jpg);} 16%{background-image: url(../images/share3.jpg);}
24%{background-image: url(../images/share4.jpg);} 32%{background-image: url(../images/share5.jpg);} 40%{background-image: url(../images/share6.jpg);}
48%{background-image: url(../images/share7.jpg);} 56%{background-image: url(../images/share8.jpg);} 72%{background-image: url(../images/share9.jpg);}
80%{background-image: url(../images/share10.jpg);} 88%{background-image: url(../images/share11.jpg);} 96%{background-image: url(../images/share12.jpg);} 104%{background-image: url(../images/share13.jpg);}}

.head2{
    background-attachment:fixed;
    position: relative;
    font-family: 'Caveat', cursive;
    height:650px;
    width: 111.25%;
    background-image: url(../images/share2.jpg); 
    background-position: top; 
    background-repeat: no-repeat; 
    background-size: cover;
}
section.values{
    background-color:white;
    margin:20% 5% 20% 15.5%;
    box-shadow: 1px 1px 15px black;
    padding: 1%;
}
h2.info{
    font-size: 2rem;
    font-family:'Cinzel', serif;
    text-align: center;
    margin: 3% 25%;
    margin-left: 26%;
    font-weight: bold;
    margin-bottom: 7px;
}
h4.info2{
    color: gray;
    font-size: 1.25rem;
    font-family: serif;
    text-align: center;
    margin-left: 4%;
    margin-top: 1px;
}
h6.info3{
    color: rgb(2, 2, 2);
    font-size: 0.9rem;
    text-align: center;
    margin-left: 4%;
    margin-top: 1px;
    margin-bottom: 3px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.col-md-4{
    max-width: 32%;
    background-color: #ebf5f4;
    border-radius: 20px;
    margin-right: 7px;
    max-height: 30%;
}
.about-page{
    height: 100%;
    margin-bottom: 0;
    padding: 2rem;
}
.about-page1{
    flex-grow: 1;
    text-align: left;
    margin-left: -40px;
    margin-top: 17px;
    font-size: 16PX;
}

.col2{
    display: flex;
    flex-wrap: wrap;
    margin-left: 4.5rem;
    margin-right: 1rem;
}
section.team{
    background-color:white;
    margin:20% 5% 20% 15.5%;
    box-shadow: 1px 1px 15px black;
    padding: 1%;
}
.rowTeam{
    margin-top: 3px;
    align-items: center;
    margin-left: 10px;
}
div.form{
    background-color:white;
    margin:35% 5% 20% 15.5%;
    box-shadow: 1px 1px 15px black;
    padding: 1%;}
strong{
    color:red
}
h1.titre{
   text-align: start; 
   margin: 0% 6%;
}
h2.hf{
    font-size:200%;
    font-family:'Cinzel', serif;
    text-align: center;
    margin: 5% 25%;
    margin-left: 37%;
}
input{
    width:100%;
}
label{
    margin:1%;
    text-align:left;
    width:350px;
}
div.form-group1,div.form-group2,div.form-group3,div.form-group4,div.form-group5{
    display:flex;
    align-items: center;
    margin: 0% 5%;
    font-size: 150%;
}
input{
    height:25px;
    border-radius:5px;
}
select{
    width: 50%;
    height:25px;
    border-radius:5px;
}
p{
    margin: 0% 6%;
    margin-top: 7px;
    margin-bottom: 10px;
}
button.button{
    background-color:darkslategray;
    color: white;
    width: 195px;
    height: 70px;
    margin: 5% 48%;
    font-size: 28px;
    border-radius: 20px;
}
button.button:hover{
    background-color:darkcyan
}
.head3{
    background-attachment:fixed;
    position: relative;
    font-family: 'Caveat', cursive;
    height:650px;
    width: 111.25%;
    background-image: url(../images/meet.jpg); 
    background-position: top; 
    background-repeat: no-repeat; 
    background-size: cover;
}
section.event{
    margin-left: 2%;
    width: 1300px;
    margin-bottom: 10%;
    background-color:white;
    box-shadow: 1px 1px 15px black;
    padding-top: 2%;
}
h2.e{
    font-family:'Cinzel', serif;
    font-size:200%;
    text-align:center;
    margin: 5% 25%;
    margin-left: 33%;
}
div.evt-grid{
    display: grid;
    grid-template-columns: repeat(2,600px);
    grid-template-rows: repeat(3,400px);
    justify-content: space-around;
    margin-left: 10%;
}
.evt-grid a{
    position: relative;
    margin: 2% 0%;
    background-size: cover;
    background-position: center;
    margin-right: 30px;
}
.ev1{
    background-image: url(../images/share8.jpg);
    grid-column: 1;
    grid-row:1;
}
.ev2{
    background-image: url(../images/share10.jpg);
    grid-column: 2;
    grid-row: 1;
}
.ev3{
    background-image: url(../images/clothes.jpg);
    grid-row:3;
}
.ev4{
    background-image: url(../images/team.jpg);
    grid-column: 1;
    grid-row:2;
}
.ev5{
    background-image: url(../images/share6.jpg);
    grid-column: 2;
    grid-row:2;
}

.det{
    position: absolute;
    bottom: 0%;
    background-color: #FFFFFFDF;
}


footer{
    min-width: 111.2%;
    background-color:darkslategray;
    box-shadow: 1px 1px 15px black;
    padding: 1% 0% 2% 0%;
    margin-bottom:-10%;
}
h2#foot{
    font-family:'Cinzel', serif;
    margin-left: 33% ;
    font-size:200%;
    color: white;
    margin-bottom: 5%;
}
.div{
    justify-content: space-between;
}
.div li {
    list-style: none;
    padding:1% 7%;
}
.div li.icon {
    
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: black;
}
span a {
    margin-left: 8%;
    color: white;
}
 